.text_test {
    color: #000;
}

.list {
    &_active {
        background-color: #b7b7b7 !important;
    }
}

.listIcon {
    min-width: 20px !important;//TODO
}

.navigation {
    padding-bottom: 0;
    padding-top: 0;
}

.listText {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}